/* scroll naar beneden om de uitwerking te bekijken */

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* https://github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(disabled) {
  cursor:pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --general-color:#012;
  --general-background:#fff;
  
  --header-gradient:linear-gradient(#f8a, #fbd);
  
  --menu-background:#222222;
  --menu-border:rgb(26, 26, 26);
  
  --button-color:#fff;
  --button-background:#f46;
  
  --title-gradient:linear-gradient(#f46 40%, #f8a 80%);
}





/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
  font-variant: uppercase;
  background-color: #222222;
  max-width: 100%;
}




/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/

/*************/
/* DE HEADER */
/*************/
header {
  min-height:4em;
  padding:0 1em;
  line-height:1;
  z-index: 2;
  
  /* JOUW CODE HIER - stap 3 */
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  position:sticky;
  top:0;


  background-color: #000000;
  text-align: center;

  font-family: 'poppins', sans-serif;
  

}




/********/
/* LOGO */
/********/
header > a:first-of-type {

  display:grid;
  grid-template-columns:min-content min-content;
  grid-gap:.25em;
  align-items:center;
  
  font-weight:bold; 
}

header > a:first-of-type img {
  height:2em;
}

header .logos a img {
  object-fit: contain;
  width: 3em;
  opacity: 75%;
  transition: 1s ease;
  z-index: 3;
  position: relative;
}

header .logos a:hover img {
  object-fit: contain;
  width: 3em;
  opacity: 100%;
  transition: .3s ease-out;
  z-index: 3;
  scale: 1.1;
  position: relative;

}

header button {
height: 2em;
width: 2em;
}

.logos {
display: flex;
align-items: center;
}

.logos .arrow{
  object-fit: cover;
  height: .6em;
  opacity: 50%;
}


.name {
  color: #fff;
  font-size: 1.2em;
  position: relative;
  z-index: 3;
  font-weight: 300;

  opacity: 25%;
  transition: .3s ease-out;
}


.name.span {
  color: white;
  opacity: 100%;
}

header .logos a:hover{
  opacity: 100%;
  transition: .3s ease-out;
}

/**********/
/* FAVO's */
/**********/
header > a:last-of-type {

  display:flex;
  align-items:center;
  column-gap:.25em;
}

/* link icon */
header > a:last-of-type img {
  width:auto;
  height:2em;
}



/*****************/
/* BEIDE BUTTONS */
/*****************/
header button {
  padding:1.5em;
  
  
  display:flex;
  align-items:center;
  gap:.25em;
  
 
  appearance:none;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:.25em; 
  font:inherit;
  text-align:center;
  color:var(--button-color);
  
}

header button img {
  height:1em;
}


.socials-button {
  display: flex;

  text-decoration: none;

  height: 5em;
  align-content: center;
  justify-content: center;

  border: solid 2px #9900ff;
  border-radius: 5em;
  height: 3em;
  color: #fefdff;
  font-weight: 500;
  align-items: center;
  padding-right: .5em;


  transition: .3s ease;
}


@media (max-width: 1200px) {
  .socials-button{
    width: fit-content;
    border: solid 2px #9900ff;
    margin: 0 auto;

  }
}



.socials-button:hover  {
  color: white;
  opacity: 1;
  /* margin: 0; */
  background-color: #8000ff;
}


/***************/
/* MENU BUTTON */
/***************/
header > button {
  /* JOUW CODE HIER - stap 3 */
  order:1;
}



/***************/
/* SLUIT BUTTON */
/***************/
nav button {
 justify-self:end;
}





/************/
/* HET MENU */
/************/
nav {
  padding:1em;
  
  display:flex;
  /* align-content:start; */
  gap:1em;
  
  background-color:#222;
  
  /* JOUW CODE HIER - stap 1 */
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 2;
  

  translate:-100% 0%;
  

/*   transition:translate .3s; */
}

/* als menu open is */
nav.toonMenu {

  translate: 0% 0%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #000000;
}

nav.toonMenu button{
  position: relative;
  margin-left: auto;
}

nav.toonMenu .search-icon, 
.world_icon-white{
  display: none;
}
nav.toonMenu a {
  margin: 2em .5em;
  position: relative;

  transition: opacity 0.3s ease, transform 0.3s ease; 
  padding: 1em;
  /* align-items: center; Zet de tekst in het midden van de achtergrond */
 
}

nav.toonMenu li {
  display: flex;
  height: 5em;
  align-items: center;
}


nav.toonMenu a::before {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #3b3b3b;
  transition:  0.3s ease;
}

nav.toonMenu a:hover {
  opacity: 1;
  transform: translateX(1em); /* Verplaats de tekst 5 pixels naar rechts (pas naar wens aan) */
  transition: 0.3s ease;

  

}

nav.toonMenu a:hover::before {
  width: 100%;
}



header a {
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;

  color: white;
  padding: 0.5em 0;
  overflow: hidden;
  padding: .5em 1em;




  transition: .3s ease;


}


/* ///// TITEL STIJLING //////// */

/* ///// TITEL STIJLING //////// */

@media (min-width: 700px) {
.section-title{
  position: relative;
  text-align: center;
  margin: 0em 0;
  font-size: 2em;
  font-weight: 300;
  color: white; /* Witte tekstkleur toegevoegd */
  /* width: 10em; */
}
}

@media (max-width: 700px) {
  .section-title {
    font-size: 1em;
    margin: 0em 0em 0em 2em;
  }

  .section-title.details {
    font-size: 1.5em;
    margin: 0em 0em .5em 0em;
  }
}

.section-title span {
  display: inline-block;
  font-size: .5em; /* Pas de lettergrootte aan naar wens */
  color: rgba(255, 255, 255, 0.534); /* Witte tekstkleur toegevoegd */
  font-size: 1.5em;
  margin: 0em 0em 0em 0em;
  font-weight: 300;

}


h2 span {
  font-size: .5em;
}



.cursor.titel{
    display: inline-block;
    width: .2em;
    min-height: 1em;
    max-height: 1em;
    background-color: #ffffff;
    animation: blink 1s infinite;
    margin-left: 5px;
    /* margin-top: 2px; */
    margin-right: .2em;
    position: relative;
    top: 8px;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}








header li {
  position: relative;
  opacity: 70%;
  margin: 0 1em;
  padding: 0 12px;
  
}

header li:hover a {
  opacity: 1;
  color: #ffffff;
  font-weight: 500;
}

header li::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: width 0.3s ease, color 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  
}

header li::before {
  z-index: -1;
}

header li:hover::before {
  background-color: #9900ff;
  opacity: 1;
  z-index: -2;
  color: #000000;
  padding: 1em;
  /* border-radius: .2em; */
  width: 100%;
  transform: scaleX(1);
}









header a:hover::after {
  background-color: transparent; /* Zet achtergrondkleur van ::after op transparant */
  width: 0; /* Zet breedte van ::after terug naar 0 wanneer niet meer hovert */

}


header span  {
  color: #8000ff;
  font-weight: 500;
  height: 100%;
  background-color: rgb(31, 31, 31);
  opacity: 100%; 
}

 header span a {
  color: #8000ff;
  font-weight: 600;
  opacity: 100%; 


 }

 header span :hover{
  color: #ffffff;
/* display: block; */
opacity: 1;
align-content: center;


 }

/*******************/
/* LIJST MET LINKS */
/*******************/
nav ul { 
  margin:0; 
  padding:0em;
  list-style:none;
}



/************************/
/* EEN LINK IN DE LIJST */
/************************/
nav a {

  display:flex;
  align-items:center;
  column-gap:.25em;
  fill: #ffc400; 
  

}

nav a img {
  width:auto;
  margin-right: .5em;
  height:1em;
}


nav a ul li img {
  height:12em;

}


nav a.active {
  font-weight:bold;
}



/****************************************************************/
/* styling voor de header als de browser minimaal 38em breed is */
/****************************************************************/



@media (min-width:1160px) {
  header > button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  

  }
  
  nav {
    /* JOUW CODE HIER - stap 7 */
    position:static;
    translate:unset;
    padding:0;
    
    background:none;
  }
  
  nav button {
    /* JOUW CODE HIER - stap 6 */
    display:none;
  }
  
  nav ul {
    /* JOUW CODE HIER - stap 8 */
    display:flex;
    gap:0;
    align-items: center;
    

  }
  
  nav a {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
    margin: 1em 0 1em 0;
    
    border:none;
  }
  
  header > a:last-of-type {
    /* JOUW CODE HIER - stap 9 */
    flex-direction:column;
  }


}





/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/

@media (min-width:57em) {
  header > a:last-of-type,
  nav a {
    /* JOUW CODE HIER - stap 10 */
    flex-direction:row;
    
  }



}






.hero {
  display: grid;
}

.hero img {
  width: 75vw;
  opacity: 100%;
  max-width: 35em;
}

.hero ul {
  display: grid;
  grid-template-columns: 1fr; /* Eén kolom in de standaardweergave */
  align-items: center;


}

.hero li {
  list-style: none;
  margin: -1em; /* Aangepast naar 0 om de ruimte te verminderen */}

.hero-info {
  /* grid-column: span 1; verwijder deze regel */
  width: 100%;
  
}

.hero h2 {
  font-weight: 500;
  font-size: 2.9em;
  margin-top: .5em;
  /* margin-bottom: 0.5em; */
}

.hero p {
  font-size: 1em;
  margin-bottom: 0.5em;
  max-width: 20em;
}
.hero button {
  display: inline-block;
  padding: 1em 3em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #000000;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 3em 0;
  transition: color 0.3s ease-out;
  z-index: 1;
}


.hero.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .button-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 120%;
  background-color: #fff;
  color: #9900ff;
  transition: left 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.hero button:hover {
  color: #fc0000;
}

.hero .button-wrapper:hover::before {
  left: 0;
  transform: translateY(-10px);
}

.hero .animated-button {
  display: inline-block;
  padding: 1em 3em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #000000;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 3em 0;
  transition: color 0.3s ease-out;
  z-index: 1;
  transition:0.3s ease;
  
}

.hero .animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 120%;
  background-color: #fff;
  color: #9900ff;
  transition: left 0.3s ease, transform 0.3s ease;
  z-index: -1;

}

.hero .animated-button:hover {
  color: #000000;
  /* padding: 1em 8em; */

  border-radius: 2em;
  /* text-transform: uppercase; */
  
  transition:0.2s ease;
}

.hero .animated-button:hover::before {
  left: 0;
  transform: translateY(-10px);
  transition:0.3s ease;
  
}







@media (min-width: 768px) {
  .hero {
    grid-template-columns: 2fr 2fr; /* Bij schermen breder dan 768px, twee kolommen */

  }

  .hero ul {
    grid-template-columns: 1fr 1fr; /* Bij schermen breder dan 768px, twee kolommen */
    
  }

  .hero li {
    margin-top: 0;
  }
  


}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ////////////////////////////////////////////////////  Skills section ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////  Skills section ///////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////  Skills section /////////////////////////////////////////////////////////////////// */








.skillscontainer {
  display: flex;
  margin :5em 0em 2em;

}


.skillscontainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.skillscontainer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  
}

.skillscontainer ul li img {
  object-fit: cover;
  max-width: 65%;
  height: auto;
  background-color: #ffffff00;
  border-radius: 10em;
  padding: 0em;
  transform: scale(1);
  transition: .3s ease-in;
}

.skillscontainer ul li:hover img {
  transform: scale(1.1);
  transition: .3s ease-out;
  background-color: #0000002f;
  border-radius: 20em;
  padding: 0em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.skillscontainer ul li h3 {
  margin: .3em 0;
  color: white;
  font-size: 1.5em;
  /* text-transform: uppercase; */
  font-weight: 400;

  transition: .3s ease-in;
}

.skillscontainer ul li p {
  font-size: 1em;
  color: rgb(255, 255, 255);
  width: 20em;
  text-align: center;
  opacity: 25%;
  

  transition: .3s ease-in;
}

.skillscontainer li:hover p {
  opacity: 1;
  /* background-color: #000; */
  transition: .3s ease-in;
}


.skillscontainer li:hover h3 {
  opacity: 1;
  /* background-color: #000; */
  transition: .3s ease-in;
  background-color: #9900ff;
  padding: .2em .5em;
  border-radius: 1em;

  font-size: 1.6em;
}

@media screen and (max-width: 1000px) {
  .skillscontainer ul li {
    flex: 0 0 100%;
    margin: 0 0em;
  }

  .skillscontainer img {
    width: 60vw;
    /* min-width:25em; */
  }
}






#typed-text-container {

  display: flex;
  /* text-align:  center; */
  

  margin: 1em 0;
  max-width: 15em;

  font-size: 2em;

}

@media (max-width: 800px) {
  #typed-text-container {
    font-size: 1em;
  }

}


/* Aanpasbaar typsymbool */
#typed-text-container::after {
  content: '.'; /* Aanpasbaar typsymbool */
  position: absolute;
  top: 0;
  right: -10px; /* Aanpasbare positie */
  color: #000; /* Aanpasbare kleur */
  font-size: 16px; /* Aanpasbare lettergrootte */
  height: 20px; /* Aanpasbare hoogte */
  width: 10px; /* Aanpasbare breedte */
  animation: blink-typing 1s infinite; /* Knipperende animatie */
  align-items: center;
  min-height: 2em;
}

.cursor,
.cursor-h2 {
    display: inline-block;
    width: .5em;
    min-height: 2em;
    max-height: 2em;
    background-color: #ffffff;
    animation: blink 1s infinite;
    margin-left: 5px;
    /* margin-top: 2px; */
    position: relative;
    top: -2px;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

/* #typed-paragraph {
  width: 40em;
  height: 20em;
} */





@media (max-width: 1250px) {
  .work ul {
    /* flex-direction: column; Items onder elkaar stapelen */
    margin: 0em -5em;
    padding: 2em;
  }

  .work li {
    flex-basis: 100%; /* Volledige breedte onder 1000px */
    margin: 0 -6em;
  }

  .work li img {
    border-radius: 4.5em;
  }
}




/* 
/////////////////////////////////////          PROGRAMS SECTION           /////////////////////////////////////////////
/////////////////////////////////////          PROGRAMS SECTION           /////////////////////////////////////////////
/////////////////////////////////////          PROGRAMS SECTION           /////////////////////////////////////////////
/////////////////////////////////////          PROGRAMS SECTION           /////////////////////////////////////////////
/////////////////////////////////////          PROGRAMS SECTION           ///////////////////////////////////////////// */




/* Voeg deze CSS toe aan je bestaande stijlen */

.programs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 width: fit-content;
  /* background-color: #1f1f1f; */
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4);

  border: 3px solid #1a1a1a;

  padding: 3em 0;
  border-radius: 1.5em;
  margin: -1em 0 ;

  scale: .8;
}

.programs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs-list h2{
  color: rgba(255, 255, 255, 0.499);
margin-left: 1.5em;
margin-bottom: .5em;  
font-weight: 300;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: .2em;
  padding: .3em 5.8em;
  width: 90vw;

}

.logo-container.span {
  display: flex;
  align-items: center;
  margin-bottom: .2em;
  background-color: #1c1c1c;
  padding: .3em 5.8em;

  width: 90vw
}


.logo {
  width: 3em; /* Pas dit aan aan je behoeften */
  height: 3em; /* Pas dit aan aan je behoeften */
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info h3 {
  font-weight: 200;
  font-size: 1em;
}

.health-bar-container {
  display: flex;
  align-items: center;
}

.health-bar {
  width: 70vw; /* Pas dit aan aan je behoeften */
  height: 6px; /* Pas dit aan aan je behoeften */
  background-color: #0c0c0c77;
  border-radius: 3px;
  margin-top: 20px;
  margin:0 0em 0em 0 ;
  overflow: hidden;

}

.health-progress {
  height: 100%;
  background-color: #8000ffdc; /* Pas dit aan aan je behoeften */
}



@media (max-width: 1000px) {
  .health-bar {
    /* min-width: 10em; */
    width: 60vw;
    }

    .programs-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 30em; 
      padding: 1em 0em;
      border-radius: 1.5em;
      width: fit-content;

      box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4);

      border: 3px solid #1a1a1a;

      scale: .8;
    }

    .logo-container {
      display: flex;
      align-items: center;
      margin-bottom: .2em;
      padding: .3em 2em;
    
    }
    
    .logo-container.span {
      display: flex;
      align-items: center;
      margin-bottom: .2em;
      background-color: #1c1c1c;
      padding: .3em 2em;
    
      width: 90vw
    }
    

}



.layout-container.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ///////////////////////////////////////////////////////////        M Y W O R K       ////////////////////////////////////////////////////////////





///////////////////////////////////////////////////////////        M Y W O R K       ////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////        M Y W O R K       //////////////////////////////////////////////////////////// */

.work {
  text-align: center;
}


.workcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
  margin: 5em 5em;
}

.work ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.work li {
  flex: 0 0 30%; /* 30% breedte, met wat ruimte om te ademen */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: .5em;
  padding: .1em;
  border-radius: 5em;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  border: solid 3px #ffffff00;
  transition: 0.3s ease-in;
  
  color: rgb(255, 68, 171);

  /* width: 43vw; */

}



.work li:hover {

  background-color: #0000004e;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* padding: 1em; */
  border-radius: 2em;

}


.work li img:hover {
  border: solid 3px #8000ff;
  transition: 0.2s ease-in;
  padding: .5em;
  margin: .5em;
 
  opacity: 1;
  border-radius: 1em;

}



.work li img {
  object-fit: cover;
  min-width: 50vh;
  width: 100%;
  /* height: auto; */

  padding: 2em;
  transition: 0.3s ease-in;
  border-radius: 2.5vw;
}

@media (max-width: 768px) {
  .work li img {
    min-width: 50vw;
    width: 100vw;
    }

}


.work h3:hover {
  background: #ffffff;
  color: #000000;

  transition: 0.3s ease-in;
  cursor: pointer;

  border: solid 2px #000000 ;


}



.work h3 {
  display: inline-block;
  padding: 1em 3em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #000000;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0em 0 1em 0;
  transition: color 0.3s ease-out;
  z-index: 1;
}

.work h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 120%;
  background-color: #fff;
  color: #9900ff;
  transition: left 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.work h3:hover {
  color: #000000;
}

.work h3:hover::before {
  left: 0;
  transform: translateY(-10px);
}








.work p {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.449);
  width: 15em;
  font-size: 1.2em;
}





/* ///////////////////////////// Tabs section /////////////////////////////////// */

/* Tabs section styling */
/* Tabs section styling */
.gallery {
  text-align: center;
}

.gallery ul {
  list-style: none;
  padding: .5em;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #1d1d1d;
  border-radius: 2em;
  width: fit-content;
  margin: 1em auto;
}

.gallery li {
  z-index: 0;
  border-radius: 2em;
  font-size: .8em;

}

.list {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #cccccc13;
  color: #ffffffa5;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #232323;


  transition: .3s ease;
}

.list:hover {
  color: #ffffff;

  /* border: 1px solid #cccccc79; */

  transition: .2s ease;

  border: 1px solid #8000ff;

}

.list.active {
  background-color: #8000ff;
  color: #fff;
  border-color: #8000ff;
  z-index: 1;
  border: 1px solid #8000ff;


}

.list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8000ff82;
  color: #ffffff;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
  z-index: -1;
}

.list:hover::before {
  transform: scaleX(1);
}


/* /////////////////////////////////////////////      PORTFOLIO HEADER       /////////////////////////////////////////////////////////////// */

.hero.tab1 img{
  width: 35vw;
  opacity: 100%;
  max-width: 35em;
  margin-top: -5em;
  
}

@media (max-width: 768px) {
  .hero.tab1 img {
    width: 80vw;
    opacity: 100%;
    max-width: 50em;
    margin-top: -2em;

  }
}



/* /////////////////////////////////////////////      PORTFOLIO ITEMS       /////////////////////////////////////////////////////////////// */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemBox {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5em;
  padding: 0.1em;
  border-radius: .5em;
  transition: 0.3s ease-in;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: solid 3px #ffffff00;
  color: rgb(255, 68, 171);
}

.itemBox:hover {
  background-color: #0000004e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: .5em;
}

.itemBox img:hover {
  border: solid 3px #8000ff;
  transition: 0.2s ease-in;
  /* padding: 0.5em; */
  /* margin: 0.5em; */
  opacity: 1;
  border-radius: .5em;
}

.itemBox img {
  object-fit: cover;
  min-width: 50vh;
  max-width: 30vw;
  min-height: 30vh;
  max-height: 30vh;

  
  /* padding: 2em; */
  transition: 0.3s ease-in;
  border-radius: .5em;

  border: solid 3px #8000ff00;
}

@media (max-width: 750px) {
  .itemBox img {
    min-width: 50vw;
    max-width: 100vw;
    width: 90vw;

  }


  .gallery ul {
    flex-direction: column;
    margin: 0em auto;
    width: 90vw;
    scale: .9;
    z-index: 1;
 

  }

  .list {
    margin: 0.5em;
  }
}

.itemBox:hover h3 {
  background: #d0d0d0;
  color: #000000;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.itemBox h3 {
  display: inline-block;
  padding: .5em 3em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  /* background-color: #000000; */
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: .5em 0 .5em 0;
  transition: color 0.3s ease-out;
  z-index: 1;
}

.itemBox::before h3 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  color: #9900ff;
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.itemBox:hover h3::before {
  width: 100%;
  transform: scaleX(1);
}

.itemBox h3:hover {
  color: #000000;
}

.itemBox:hover h3::before {
  width: 100%;
  transform: scaleX(1);
}

.itemBox:hover img {
  /* transform: scale(1.2); */
}

.itemBox p {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.449);
  /* width: 15em; */
  font-size: .6em;
  text-decoration: none;
  list-style: none;
  margin: 0em 0 .8em 0;
}



/* /////////////////////////////////////////////      ABOUT ME       /////////////////////////////////////////////////////////////// */

.hero.aboutme {
  height: fit-content;
  margin-top: -1em;

}



.hero.aboutme li button {
  margin-top: 1em; /* Voeg hier de gewenste ruimte boven de knop toe */
  display: block; /* Zorg ervoor dat de knop de volledige breedte gebruikt */
}

@media (max-width: 768px) {
  .heropagebackground.aboutme img {
    object-fit: cover;
    width: 100vw;
    opacity: 100%;
    max-height: 15em;
    max-width: 15em;
    border-radius: 50em;
    /* margin-top: 10em; */
    /* margin: 0 2em; */
    
  }

  .heropagebackground.aboutme {
    height: 90vh;
  }

  .hero.aboutme ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
  }
  

  .hero.aboutme li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 4em;
    width: 70vw;
  }
}

@media (min-width: 768px) {
  .heropagebackground.aboutme {
    color: white;
    font-family: var(--main-font);
    padding: 20px;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100vw;
    height: 90vh;
    align-items: center;
    margin-top: -8em;
  }

  .heropagebackground.aboutme img {
    width: 30vw;
    opacity: 100%;
    border-radius: 50em;
    max-height: 20em;
    max-width: 20em;
    
  }

  .hero.aboutme ul {
    justify-items: flex-end;
  }

  .hero.aboutme li {
    margin: .5em 5em;
    width:25vw;
  }
}







.heropagebackground.aboutme.home {



  margin-top: -10em;

  padding-top: 10em;

  
}








/* /////////////////////////////////////////////      CONTACT PAGE       /////////////////////////////////////////////////////////////// */
.contact-info {
  max-width: 600px;
  margin: 0em auto 3em;
  color: white;
  padding: 1em;
  border-radius: 8px;


}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.contact-info a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.489);
  background-color: #00000038;
  border-radius: 2em;
  transition: .3s ease;
  padding: 10px;
  width: 100%;
}


.contact-info a:hover {
  color: rgb(255, 255, 255);
  background-color: #8000ff;
  border-radius: 2em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.contact-info a:hover img{
  margin: 0em 1em;
  transition: .1s ease;

}


.contact-info img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  transition: .3s ease;
}

.contact-text {
  margin: 0;
}




/* /////////////////////////////////////////////      ABOUT ME LAYOUT INFO      /////////////////////////////////////////////////////////////// */
.layout-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1em;
  padding: 5vw 0;
}

.detailbackground {
  background-color: #181818;

}

.detailbackground span {
  display: flex;
  align-items: start;
  
}

.details {
  margin-bottom: -3em;
}

.detail-section,
.detailpage-background {
  max-width: 40em;
  color: rgba(255, 255, 255, 0.405);
  margin: 4em;
}

.detail-section h2 {
  font-size: 2em;
  font-weight: 300;
  color: white;
  margin: 0em 0;
}

.detailpage-background p {
margin: 0em 0 .5em 0;
}

.detailpage-background p span {
  font-size: 1.1em;

  font-weight: 500;
  color: #ffffffc1;
}

p strong {
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size: 1em;
}

.detailpage-background img {
  /* Additional styling for the images within the detailpage-background */
}

/* Media query voor kleinere schermen */
@media screen and (max-width: 1000px) {
  .layout-container {
    flex-direction: column;
    align-items: center;
  }

  .details {
    order: 2; /* Verander de volgorde van .details naar 2 op kleinere schermen */
  }

  .detail-section,
  .detailpage-background {
    order: 1; /* Verander de volgorde van .detail-section en .detailpage-background naar 1 op kleinere schermen */
  }
}




.education,
.info {
  max-width: 40em;
  color: rgba(255, 255, 255, 0.405);
  margin: 2em;
  
}

.education h2 {
  font-size: 2em;
  font-weight: 300;
  color: white;
  margin-bottom: .5em;
}

.education li {
  margin: 1em;
  
}

.education ul,
.info {
  display: flex;
  flex-direction: column; /* Zet de richting op rij voor de lijst met afbeeldingen */
  list-style: none;
  padding: 0;
  margin: 1em;

  align-items: flex-start;

}

.education.imgs {
  display: flex;
  flex-direction: row; /* Zet de richting op rij voor de lijst met afbeeldingen */
}

.education.imgs img {
  width: 10em;
  max-width: 20em;
}

@media screen and (max-width: 1000px) {
  .layout-container {
    flex-direction: column;
    align-items: center;
  }

  .info {
    margin-top: 20px;
    text-align: center;
  }

  .education.imgs {
    flex-direction: column; /* Zet de richting op kolom op kleinere schermen voor de lijst met afbeeldingen */
  }

  .education.imgs img {
    max-width: 25vw;
  }
  
}


/* /////////////////////////////////////////////     iNTRESTS N HOBBIES SEcTION      /////////////////////////////////////////////////////////////// */

.intrests{
margin: 3em 1em;

}

.intrests li {
  list-style: none;
}

.intrests img {
  width: 35em;
  border-radius: .5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);

}


@media screen and (max-width: 1000px) {
  .intrests img{
    width: 80vw;

  }
}



/* /////////////////////////////////////////////     DETAILS PAGE COLOMS     /////////////////////////////////////////////////////////////// */

.detailpagehero {
  flex-direction: column;
  display: flex;
  justify-content: center;


}

.detailpagehero img {
  object-fit: cover;
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  margin: 1em auto;
  
  
}


.detail-section,
.detailpage-background {
  max-width: 40em;
  color: rgba(255, 255, 255, 0.405);
  margin: 0em 1em;
}

.detail-content li {
  list-style: none;
}


.detail-section {
  display: flex;
  flex-direction: column; /* Set the direction to column */
  align-items: center;
}

.detail-section h2 {
  font-size: 2em;
  font-weight: 300;
  color: white;
  margin-bottom: .5em;
  text-align: start;
}

.detailpage-background {
  margin-top: 1em; /* Adjust as needed */
}

.detailpage-background p {
  text-align:left; /* Center the text */
  max-width: 40em;
}

.detail-content img {
  max-width: 50vw;
  object-fit: cover;
  border-radius: .5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1000px) {
  .detail-section,
  .detail img {
    width: 80vw;
    max-width: none; /* Reset max-width for smaller screens */
    margin: .5em 0 ;
  }

  .detailpage-background p {
    text-align:left; /* Center the text */
    max-width: 100%;
  }
  .detail-content img {
    margin: 1em;
  }
  
}

.section-title.detailpage {
  margin: 2em 0;
}

.discription{
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: flex-start;
  width: 88%;
  margin: 0em auto;
  color: white;
  padding: 1em;
  background-color: #1d1d1d;
  border-radius: 1em;

}


.discription h3 {
  color: white;
  /* margin: 0em 0 -.7em; */

}


.discription p {
  color: rgba(255, 255, 255, 0.452);
  margin: 1em 0  0;

}

.section-title.details span {
  display: inline-block;
  font-size: .5em;
  color: rgba(255, 255, 255, 0.534);
  font-size: 1em;
  margin: 0em 0em 0em 0em;
  font-weight: 300;
}



.section-title.tools span {
  display: inline-block;
  font-size: .5em;
  color: rgba(255, 255, 255, 0.534);
  font-size: 1em;
  margin: 0em 0em 0em 0em;
  font-weight: 300;
}








.title-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0000004c;
  height: 6em;
  align-items: center;
}

.title-icon img {
  width: 2em;
  margin: 0 1em;
  opacity: 50%;
}

/* /////////////////////////////////////////////     DETAILS PAGE TOOLS     /////////////////////////////////////////////////////////////// */


.details-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 0;
  flex-direction: column;

}

.details-tools ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}


.details-tools li {
  width: 5em;
  height: 5em;
  overflow: hidden;
}

.details-tools img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em; /* Optioneel: voeg een afgeronde hoek toe aan de afbeeldingen */
}

@media screen and (max-width: 1000px) {
  .details-tools ul {
    flex-direction: row;
  }
}



/* /////////////////////////////////////////////     FOOTER     /////////////////////////////////////////////////////////////// */

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.footer-section h2 {
  color: #ffffff; 
}

.footersocials {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}


.social-icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
  transition: transform 0.3s ease; /* Add transition for the hover effect */
}

.social-icon:hover {
  transform: scale(1.25); /* Increase size on hover */
}

.footersocials img {
  object-fit: contain;
  width: 3em;
  margin: 1em 1em; /* Adjust spacing as needed */
}



.footer li {
  list-style: none;
  
}

.footer-section a {
  text-decoration: none;
}

.footer li .animated-button {
  display: inline-block;
  padding: 1em 2em;
  margin-top: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  z-index: 1;
  transition: background-color 0.3s ease , color ease .3s;
}

.footer li .animated-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 130%;
  background-color: #fff;
  color: #030303;

  transition: left 0.3s ease, ease .3s;
  z-index: -1;
}

.footer li .animated-button:hover {
  background-color: #000000;
  color: #000000; /* Change the text color on hover */
  transition: ease .1s;
}

.footer li .animated-button:hover::before {
  left: 0;
  transform: translateY(-10px);
  color: #000000; /* Change the text color on hover */
}

.footer li .animated-button:hover button {
color: #000000;
}






.footer p {
  margin-top: 20px; /* Adjust as needed */
  color: #ffffffa7; /* Adjust text color as needed */
  font-size: 0.8em; /* Adjust font size as needed */
}




.heropagebackground.footer {
  background: hsla(270, 100%, 50%, 1);
  background: radial-gradient(circle, #8000ff 10%, hsla(252, 76%, 18%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(270, 100%, 50%, 1) 10%, hsla(252, 76%, 18%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(270, 100%, 50%, 1) 10%, hsla(252, 76%, 18%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#800080", endColorstr="#1a004d", GradientType=1);
  
    /* height: 49.4em; */
    height: 60em;
    color: white;
    font-family: var(--main-font);
    padding: 20px;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;

    align-items: center;
    margin-top: 5em;


    

}



.pagebreaker {
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -18vh;
  justify-content: center;
  display: flex;
  position: relative;
  max-width: 100vw;
  height:25vh;

  align-items: center;

}

/* .pagebreakerfooter {
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 100vw;
  margin-top: -65em;
  display: flex;
  justify-content: center;

  position: relative;
  max-width: 100vw;
  height:25vh;

  align-items: center;
  
} */

.pagebreaker.aboutme {
  object-fit: cover;
  position: relative;
  z-index: 1;
  width: 100vw;
  margin-top: 0em;
  display: flex;
  justify-content: center;

  position: relative;
  max-width: 100vw;
  height:25vh;

  align-items: center;
}

.pagebreaker img{
  object-fit: contain;
  /* max-width: 100vw; */
  /* min-width: 100em; */
  height: 100%;
  width: 100vw;
}

.pagebreaker.footer img {
  margin-top: 2em;
}

.heropagebackground{
  background: hsla(270, 100%, 50%, 1);
  background: radial-gradient(circle, #8000ff 10%, hsla(252, 76%, 18%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(270, 100%, 50%, 1) 10%, hsla(252, 76%, 18%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(270, 100%, 50%, 1) 10%, hsla(252, 76%, 18%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#800080", endColorstr="#1a004d", GradientType=1);
  
    /* height: 49.4em; */
    height: 60em;
    color: white;
    font-family: var(--main-font);
    padding: 20px;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100vw;
    height: 80vh;

    align-items: center;


    
}





.pagebreaker.mid{

  
    /* height: 49.4em; */
    height: 20em;
    color: white;
    font-family: var(--main-font);
    padding: 20px;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100vw;
    height: 50vh;

    align-items: center;
    margin: 10em 0 ;


    
}

.heropagebackground.portfolio {
  height: 24em;
  width: 100;

}






@media (max-width: 1100px) {
  .pagebreaker.footer img{
    object-fit: cover;
    width: 100vw;
  }

  .pagebreaker img{
    object-fit: cover;
    width: 100%;

  }
}


/* /////////////////////////////////////////////     CONTACT FORMS     /////////////////////////////////////////////////////////////// */

.contact-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 2em 0 0em 0;
  background-color: #1e1e1e;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
  width: 50vw;
  text-align: center;
  color: white;
}

@media (max-width: 750px) {
  .contact-form {
    padding: 20px;
    border-radius: 10px;
    width: 95vw;
    text-align: center;
    color: white;
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 200;
  transition: color 0.3s ease;
}

.form-group input:hover {
  border: 1px solid #ffffff;
}

.form-group textarea:hover {
  border: 1px solid #ffffff;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #cccccc01;
  background-color: #181818;
  border-radius: 5px;
  color: white;
  transition: border-color 0.3s ease;
  outline: none; /* Remove default browser outline */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #9900ff;
  outline: none; /* Remove default browser outline on focus */
}

.form-group label:focus-within,
.form-group input:hover + label,
.form-group textarea:hover + label {
  color: rgba(255, 255, 255, 0.5);
}

.form-group input:focus + label,
.form-group textarea:focus + label {
  color: #131313; /* Pas de gewenste kleur aan */
}

.form-group button {
  background-color: #ffffff36;
  color: #000000a2;
  padding: .8em 4em;
  border: none;
  border-radius: 5px;
  border: 2px solid #ff000000;
  font-size: 1em;
  cursor: pointer;
  transition: .3s ease;
}

.form-group button:hover {
  background-color: #ffffff23;
  color: #0000002d;
  transition: .3s ease;
  border: 2px solid #ff00009f;
  border-radius: 1px;
}

.form-group p {
  opacity: 0;
  transition: 1s ease;
  color: rgb(255, 255, 255);
  font-weight: 200;
  
}

.form-group p span {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.form-group button:hover + p span {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.form-group button:hover + p {
  opacity: 1;
  color: rgb(255, 121, 121);
  transition: .3s ease;
}

.form-group input[type="email"]::placeholder {
  color: #555555;
}

.form-group textarea::placeholder {
  color: #6f6f6f;
}

.form-group label {
  color: #464646a2;
  transition: color 0.3s ease;
}

.form-group.focused label {
  color: #ebebeb; /* Pas de gewenste kleur aan voor de focus */
}

.form-group input:focus + label,
.form-group textarea:focus + label {
  color: #82828279; /* Pas de gewenste kleur aan voor de focus */
}

.form-group input:not(:focus) + label,
.form-group textarea:not(:focus) + label {
  color: rgba(255, 255, 255, 0.5); /* Kleur voor niet-geselecteerde labels */
}



.section-title.contact span {
  display: inline-block;
  font-size: .5em;
  color: rgba(255, 255, 255, 0.534);
  font-size: .6em;
  margin: 0em 0em 0em .2emem;
  font-weight: 300;
}

















.showcase-gallery {
  color: white;
}



@media (max-width: 1000px) {


  .showcase-gallery {
    text-align: center;
    /* background-color: #181818; */
    padding: 1em 0;
    max-width: 90%;
    margin: 1em auto;
  }
  
  .main-image {
    object-fit: cover;
    width: 100%;
    /* max-width: 90%; */
    min-width: 50%;
    height: auto;
    border: 2px solid #333;
    border-radius: .5em;
    margin-bottom: 1em;
  }
  
  .thumbnail-images {
    display: flex;
    justify-content: center;
    margin-top: -1em;
    margin-bottom: 1em;
    
  }
  
  .thumbnail {
    width: 15vw; /* Pas dit aan aan je behoeften */
    height: auto;
    margin: 0 .5em;
    cursor: pointer;
    transition:  0.3s ease;
    border-radius: .3em;
    opacity: 75%;
  }
  
  .thumbnail:hover {
    /* transform: scale(1.1); */
    opacity: 100%;
  }
  
  .thumbnail:hover img{
    object-fit: fill;
    transform: scale(1.5);
    opacity: 100%;
  }


  .showcase {
    background-color: #181818;
    margin: 2em auto;
    padding: 2em;
    border-radius: .5em;
    width: 90%;
  }

  .thumbnail:focus {
    transform: scale(1.05);
    opacity: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffffd1;
    padding: 2px;
  
  }

  
.showcase-story {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px; /* Voeg deze regel toe om de maximale breedte in te stellen, indien gewenst */
  width: 100%;
  margin: 2em auto;
  max-width: 90%;
  min-width: 10%;
}

.showcase-item {
  object-fit: cover;
  background-color: #18181896;
  border-radius: 0.2em;
  overflow: hidden;
  width: 100%;
  transition:  0.1s ease-in;
  padding: .5em;
}

.showcase-item:hover {
  transform: scale(1.02);
  border-radius: .2em;
  background-color: #181818;
  transition:  0.2s ease-out;

}

.showcase-item img {
  width: 100%;
  max-height: 20em; /* Pas dit aan aan je behoeften */
  object-fit: cover;
  border-radius: 0.5em;
  margin-bottom: 10px;
}

.showcase-item h3 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.showcase-item p {
  color: #ccc;
  font-size: 1em;
}

  
  
}







@media (min-width: 1000px) {
  .showcase-gallery {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    padding: 0em 1em;
    
    align-items: center;
    justify-content: center; /* Voeg deze regel toe */
    width: fit-content;
    margin: 0 10em;
    border-radius: 2em;
  }
  
  .main-image {
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: 20%;
    height: auto;
    border: 2px solid #333;
    border-radius: 1em;
    margin-bottom: 1em;
    
  }
  
  .thumbnail-images {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    min-width: 10vw;
    max-width: 10vw;
    align-items: flex-start;
    border-radius: 1em;
    
    

  }
  
  .thumbnail {
    width: 100%;
    min-width: 25%;
    height: auto;
    margin: .5em 1em;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: .4em;
    opacity: 75%;
    background-color: #181818c4;
    padding: .5em;

    
  }
  
  .thumbnail:hover {
    transform: scale(1.1);
    opacity: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff5c;
    padding: 3px;
    border-radius: .8em;
    margin: 1em 1em ;

  }
  
  .thumbnail:hover img {
    object-fit: fill;
    opacity: 100%;
    border-radius: .8em;
  }
  


  .showcase {
    background-color: #181818;
    margin: 2em auto;
    padding: 2em;
    border-radius: 1em;
    max-width: fit-content;
  }

  .thumbnail:focus {
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffffd1;
    padding: 2px;
    margin: 2em 1em 2em;
  }

  
.showcase-story {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px; /* Voeg deze regel toe om de maximale breedte in te stellen, indien gewenst */
  width: 100%;
  margin: 2em auto;
  /* max-width: 25%; */
  min-width: 10%;
}

.showcase-item {
  object-fit: cover;
  background-color: #18181896;
  border-radius: 0.2em;
  overflow: hidden;
  width: 100%;
  transition:  0.1s ease-in;
  padding: .5em;
}

.showcase-item:hover {
  transform: scale(1.02);
  border-radius: .2em;
  background-color: #181818;
  transition:  0.2s ease-out;

}

.showcase-item img {
  width: 100%;
  max-height: 200px; /* Pas dit aan aan je behoeften */
  object-fit: cover;
  border-radius: 0.5em;
  margin-bottom: 10px;
}

.showcase-item h3 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.showcase-item p {
  color: #ccc;
  font-size: 1em;
}

  
  
}


